<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notifications</title>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <% include ./partials/navbar.ejs %>
    <div class="container-fluid container-fluid-row">
      <div class="row container-row">
        <% include ./partials/sidebar.ejs %>
        <main role="main" class="col-md-9 ml-sm-auto pt-3 px-4 m-0">
          <% include partials/messages %>
          <div class="card">
            <!-- <div
                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-1 mb-2 border-bottom">
                        
                    </div> -->
            <h3 class="card-title text-center py-2 border-bottom">
              <%=notification.title%>
            </h3>
            <p class="card-body"><%=notification.body%></p>
            <div class="card-footer text-muted text-right">
              Posted: <%= moment(notification.createdAt).fromNow() %>
            </div>
          </div>
          <div class="clearfix my-1">
            <a
              href="/dashboard/notifications/<%=notification._id%>/comments/new"
              class="btn btn-dark read-more-btn float-right mr-3"
              >Share your thoughts</a
            >
          </div>
          <div></div>
          <%if(notification.comments.length>0){%>
          <div class="card card-outline-secondary m-3 p-3">
            <% notification.comments.forEach(function(comment){%>
            <div class="card-block mb-3">
              <h6 class="card-header">
                <%=comment.author.firstName%> <%=comment.author.lastName%>
                <span class="text-muted float-right"
                  ><%= moment(comment.createdAt).fromNow() %></span
                >
              </h6>
              <div class="card-block border">
                <p class="card-text py-2 px-3"><%=comment.text%></p>

                <!-- edit and delete options -->
                <%if(currentUser &&
                comment.author.id.equals(currentUser._id)){%>
                <div class="card-block card-text px-3 py-2 border-top">
                  <a
                    href="/dashboard/notifications/<%=notification._id%>/comments/<%=comment._id%>/edit"
                    class="card-link"
                    >Edit</a
                  >
                  <form
                    action="/dashboard/notifications/<%=notification._id %>/comments/<%=comment._id%>?_method=DELETE"
                    method="post"
                    class="delete-comment-form"
                  >
                    <input
                      class="delete-btn card-link"
                      type="submit"
                      value="Delete"
                    />
                  </form>
                </div>
                <% }%>
              </div>
            </div>
            <% })%>
          </div>
          <% }%>
        </main>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
