<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>User Profile</title>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <% include ./partials/navbar.ejs %>
    <div class="container-fluid container-fluid-row">
      <div class="row container-row">
        <% include ./partials/sidebar.ejs %>
        <main role="main" class="col-md-9 ml-sm-auto pt-3 px-4 m-0">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-5"
          >
            <h1 class="display-4 name-header border-bottom">
              <%= user.firstName %> <%= user.lastName %>
            </h1>
          </div>
          <table class="table h5">
            <tr>
              <th>First Name</th>
              <td><%= user.firstName %></td>
            </tr>
            <tr>
              <th>Last Name</th>
              <td><%= user.lastName %></td>
            </tr>
            <tr>
              <th>Email address</th>
              <td><%= user.email %></td>
            </tr>
            <tr>
              <th>USN</th>
              <td><%= user.userId %></td>
            </tr>
            <tr>
              <th>Semester</th>
              <td><%= user.semester %></td>
            </tr>
            <tr class="border-bottom">
              <th>Department</th>
              <td><%= user.department %></td>
            </tr>
          </table>
        </main>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
